// .example-sidenav{
//     background-color: rgb(37, 37, 37);
//     height: 100vh !important;
// }

.example-container {
    height: 100vh;
  }
  
  .example-sidenav-content {
    display: flex;
  }
  
  .example-sidenav {
    width: 15em;
    background-color: rgb(33, 37, 41);
    height: 100vh;
    padding: 20px;
  }

  
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
    /* CSS */
    .example-sidenav {
      width: 10em !important;
      padding: 5px !important;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  .example-sidenav {
      padding: 5px !important;
      width: 10em !important;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
    /* CSS */
    .example-sidenav {
      padding-left: 5px !important;
      padding-right: 5px !important;
      width: 10em !important;
    }
}